<div class="max-container">
    <div id="waline"></div>
</div>

<link rel="stylesheet" href="https://unpkg.com/@waline/client@v3/dist/waline.css">
<script src="https://unpkg.com/@waline/client"></script>
<script>
document.addEventListener("DOMContentLoaded", function() {
  Waline.init({
    el: '#waline',
    serverURL: "https://vercel-waline.101jc.com/",
    path: 'memo.101jc.com', // 为网站B的首页指定唯一标识符
    // 可以继续添加更多的Waline配置项
    pageview: true, // 启用页面浏览量统计
    comment: true, // 评论数统计
    dark: true,
    emoji: [
      'https://unpkg.com/@waline/emojis@1.0.1/weibo',
      'https://unpkg.com/@waline/emojis@1.0.1/alus',
      'https://unpkg.com/@waline/emojis@1.2.0/bilibili',
      'https://unpkg.com/@waline/emojis@1.2.0/bmoji',
      'https://unpkg.com/@waline/emojis@1.2.0/qq',
      'https://unpkg.com/@waline/emojis@1.2.0/tieba',
      'https://unpkg.com/@waline/emojis@1.2.0/tw-emoji',
    ],
    reaction: [
    'https://img.101jc.com/img/keycap_5_3d.png!yuantu',
    'https://img.101jc.com/img/keycap_4_3d.png!yuantu',
    'https://img.101jc.com/img/keycap_3_3d.png!yuantu',
    'https://img.101jc.com/img/keycap_2_3d.png!yuantu',
    'https://img.101jc.com/img/keycap_1_3d.png!yuantu',
  ],
  locale: {
    reactionTitle: "",
    reaction0: "有点意思",
    reaction1: "还不错",
    reaction2: "一般",
    reaction3: "将就",
    reaction4: "有待改进",
    placeholder: "期待你的留言！",
    nick:"昵称：(选填)",
    mail:"邮箱：(选填)",
    link:"网址：(选填)",
    sofa: '来发评论吧~',
  },
  });
});
</script>

