<section class="w-full flex flex-col bg-[#38BDF8] dark:bg-slate-800 text-center pt-14">
    <div class="max-container lg:w-3/4">
        <h1 class="text-4xl md:text-5xl text-slate-50 dark:text-slate-300 leading-relaxed">检测速查手册</h1>
        <h2 class="text-xl md:text-xl text-slate-200 dark:text-slate-300 leading-tight font-extralight tracking-wide text-base mt-6 mb-20">
            为工程检测人员制作的速查手册，也是为了方便自己整理及查阅相关知识点
        </h2>
    </div>
</section>
